* {
	font-family: Jetbrains Mono;
	font-size: 20px;
	/*color: #f7a43b;*/
	color: #88c7e1;
	/*color: #ee6d18;*/
 }


window#waybar{
	background-color: rgba(50,50,50,1);
}



#clock{
	font-weight:bold;
}


